body {
  font-family: "Roboto", sans-serif;
  color: #434455;
}
/* ==================COMPONENTS================== */
.secondary-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  /* identical to box height, or 111% */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color:#2e2f42;
}
.studio-color {
  color: #2e2f42;
}
.small-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;
  color: #2e2f42;
}
.small-descr {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  /* or 150% */

  letter-spacing: 0.02em;

  /* SLATE */

  color: #434455;
}
.small-descr-dark-theme {
  color: #f4f4fd;
}
.studio-color-dark-theme{
  color:#f4f4fd
}

/* ==================Header================== */

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-decoration: none;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-dark-theme {
  color: #f4f4fd;
}
.menu-item {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.contact {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  color: #434455;
}

.menu-link:hover,
.menu-link:focus,
.menu-item:hover,
.menu-item:focus,
.contact:hover,
.contact:focus {
  color: #404bbf;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* ==================Hero================== */
.hero {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
}
.main-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;

  color: #ffffff;
}
.hero-button {
  width: 169px;
  height: 56px;

  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  color: white;
}
.hero-button:hover,
.hero-button:focus {
  background: #f4f4fd;

  border: 1px solid #e7e9fc;
  border-radius: 4px;

  color: #404bbf;
}
.address {
  font-style: normal;
}

/* ==================MAIN================== */
.our-team{
  background-color: #F4F4FD;
}
.our-team-list-item
{
  background-color: #FFFFFF;
}

/* ==================FOOTER================== */

.page-footer {
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03;
  color: #4d5ae5;
  width: 1440px;
  height: 312px;
  left: 0px;
  top: 2280px;

  /* NAVY BLUE */

  background: #2e2f42;
}

/* ==================PORTFOLIO================== */
.navigation-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 116px;
  height: 48px;
  cursor: pointer;

  /* CLOUD */

  background: #f4f4fd;
  /* CORNFLOWER */

  border: 1px solid #e7e9fc;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;

  color: #4d5ae5;
}
.navigation-button:hover,
.navigation-button:focus {
  color: #ffffff;
  background-color: #404bbf;
}
